.mainContainer{
    min-height: 70vh;
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    background-image: url("../public/assets/bg-image.jpg");
    background-position: center center;
    background-size: cover; /*//для сохранеия пропорций*/
}
@media screen and (max-width: 390px) {
    .mainContainer {
        padding: 20px;
    }
}
