.contactContainer h3 {
    font-size: 20px;
    font-weight: 300;
    line-height: 40px;
}

.informBlock {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    margin-top: 30px;
    width: 100%;
}

.informBlock h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
}
