.detailWeather {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background: #ececec;
}

.imageBlock {
    width: 50%;
    min-height: 70vh;
    background-image: url("../public/assets/img_wd.jpg");
    background-position: center center;
    background-size: cover; /*//для сохранеия пропорций*/
}

.weatherBlock {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weatherBlock  td {
    border-bottom: 1px solid white;
   padding: 10px;

}
@media only screen and (max-width: 767px) {
    .detailWeather {
        flex-direction: column;
    }

    .imageBlock {
        min-height: 30vh;
        width: 100%;
    }
}

